*.tex
*.txt
images/
# sources/

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml

# LaTeX build directories
_build/
_build/*
build/
build/*

# Editor backup files
*~
*.bak
*.swp
*.tmp


# Other files
*.dvi
*.ps
*.eps
*.synctex(busy)
*.synctex.gz(busy)
*.synctex.gz
*.xdv
*.nav
*.snm
*.vrb
*.bcf
*.tdo
*.spl
*.maf
*.mtc
*.mtc0
*.figlist
*.listing
*.lol
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.out
*.pre
*.snm
*.sout
*.sym
*.thm
*.upa
*.upb
*.xdy